.contact-image {
  width: 650px;
  display: block;
  margin-top: 40px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 10px 10px 5px 5px;
}
.map-frame {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 10px 10px 5px 5px;
}
