.page-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  color: $text-color;
}
.side-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 100px;
  padding-left: 33px;
  padding-top: 20px;
}
.side-menu-link {
  background: $container-background;
  list-style: none;
  width: 350px;
  color: $white-text-color;
  margin-bottom: 5px;
  text-align: left;
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  &:hover {
    background: rgba(0, 0, 0, 0.4);
  }
}
.content {
  display: block;
  font-size: 20px;
  padding: 25px;
  text-align: justify;
}
h2,
h3 {
  text-align: center;
  padding: 15px;
}
li {
  margin-bottom: 20px;
  margin-left: 20px;
}
