<p>Ik stel me dan ook graag nader aan je voor: Mijn naam is Alisa Marchenko.</p>
<br />
<p>
  Ik ben een gediplomeerd en ervaren masseur. Van 1992 tot 2015 heb ik hiervoor diverse opleidingen
  gedaan voor massagetherapeut, huidverzorgings en schoonheidspecialist.
</p>
<p>
  In de loop der jaren heb ik veel werkervaring opgedaan en aanvullende opleidingen gevolgd in
  verschillende (medische) instellingen en in mijn eigen praktijk. Ik breid mijn kennis continue uit
  en volg hiervoor bijscholingen om zo met veel plezier zo veel mogelijk voor mijn cliënten te
  kunnen blijven betekenen.
</p>
<br />
<img class="my-photo" src="../images/my-foto.jpg" alt="my foto" />
<br />
<!-- <p>Wil je meer weten...</p>
<p>
  Ik ben geboren in Oekraïne en heb daar de eerste vijftig jaar van mijn leven gewoond. In dit land
  is mijn persoonlijkheid gevormd en heb ik mijn professie en mijn levensfilosofie ontwikkeld. Mijn
  vaderland, waarin ik ben opgegroeid, en iedereen die ik daar kende ben ik dankbaar. Van elke
  situatie en iedere persoon, die op mijn pad verscheen, heb ik iets geleerd. Zij hebben mij
  geholpen om waardevolle ervaringen op te doen, gaven mij kracht en boden me kansen om van het
  leven te proeven en te genieten. Mijn persoonlijke levensfilosofie is gebaseerd op de eenvoudige
  stelling dat alles voorbij gaat, maar dat ik er op vertrouw dat we zelf heel veel kunnen
  veranderen of verbeteren. Maar alles wat ik vandaag bezit, zal ik ook weer kwijtraken We zien de
  regenboog pas, nadat we de regenbui hebben doorstaan en ondergaan! Elke volgende seconde in je
  leven kan het begin zijn van een mooie nieuwe levensfase. Wij zelf zijn de scheppers van onze
  toekomst door de kracht van onze eigen gedachten! We mogen dankbaar zijn voor onze ervaringen en
  met volle teugen genieten van de schoonheid in de wereld om ons heen! In 2015 heb ik mij in
  Nederland gevestigd en begon mijn nieuwe levensfase in dit prachtige land. Ik ben vol verwachting
  naar de mensen die ik ga ontmoeten en de ervaringen die ik hier mag opdoen. Nederland is
  buitengewoon mooi en ik heb nu al ervaren dat de mensen er vriendelijke en open-minded zijn. Ik
  studeer hard om de Nederlandse taal te leren en om de Nederlandse cultuur te leren kennen. Mijn
  streven is om de Nederlandse taal goed te beheersen en een zinvolle bijdrage te leveren aan de
  maatschappij, zowel professioneel als persoonlijk.
</p> -->
<h2>Overzicht van mijn werkervaring, opleidingen en professionele ontwikkeling:</h2>
<table class="cv-table">
  <tr>
    <td></td>
    <td>Werkervaring:</td>
  </tr>
  <tr>
    <td>Vanaf 2017</td>
    <td>Zelfstandig ondernemer "Praktijk voor Beauty en Wellness", Doornspijk, Nederland</td>
  </tr>
  <tr>
    <td>2013-2016</td>
    <td>Zelfstandig ondernemer "Praktijk voor Massage en Wellness", Kiev, Oekraïne</td>
  </tr>
  <tr>
    <td>2003-2013</td>
    <td>
      Gecertificeerd therapeut Wellnesstherapie en Lichaamsesthetiek bij diverse Beauty- en
      Spacentra in Kiev, Oekraïne (o.a. "Beauty Star", "Angel")
    </td>
  </tr>
  <tr>
    <td>1997-2002</td>
    <td>
      Zelfstandig ondernemer "Praktijk voor Massage en Wellness", Tsjerkasy (Cherkasy), Oekraïne
    </td>
  </tr>
  <tr>
    <td>1993-1996</td>
    <td>
      Masseur bij Medisch Centrum van Telegraafapparatuurfabriek Tsjerkasy (plm. 3000 werknemers),
      Tsjerkasy, Oekraïne
    </td>
  </tr>
</table>
<table class="cv-table">
  <tr>
    <td>2021</td>
    <td>
      Opleding " Rehabilitation in the gym" bij Vertebral Wellness Evminov Center effectieve
      treatment and prevention of diseases of the spine. Kyiv, Oekraïne ( Certificate
      nr.UA07184-00100
    </td>
  </tr>
  <tr>
    <td>2019</td>
    <td>
      Opleiding Sportmassage. Opleiding Centrum `t Harde, Jos Brussee, Nederland, mei 2019 (diploma)
    </td>
  </tr>
  <tr>
    <td>2015</td>
    <td>
      Opleiding Atlasmassage (Dornmethode, nek- en schoudermassagetechniek) bij Dornspecialist Hans
      Boerhof, Hierden, Nederland (certificaat)
    </td>
  </tr>
  <tr>
    <td>2015</td>
    <td>
      Opleiding Hygiënische Manicure bij Development Center for Hair and Beauty Salon Business
      "Partner Plus", Kiev, Oekraïne (certificaat)
    </td>
  </tr>
  <tr>
    <td>2014</td>
    <td>
      Opleiding "Hardware Pedicure" bij Development Center for Hair and Beauty salon Business
      "Partner Plus", Kiev, Oekraïne (certificaat)
    </td>
  </tr>
  <tr>
    <td>2012</td>
    <td>
      Opleiding Voetreflexologie bij The Thai Traditional Medicine Development Center, Pattaya,
      Thailand (certificaat nr. 117237)
    </td>
  </tr>
  <tr>
    <td>2011</td>
    <td>
      Opleiding Traditionele Thaise Massagetechnieken, Thai Massage Development School, Pattaya,
      Thailand (certificaat nr. 1493)
    </td>
  </tr>
  <tr>
    <td>2010</td>
    <td>
      Opleiding "Waxen & bikinilijn" en "Suikerwaxen", Bella Donna academy, Kiev, Oekraine
      (certificaat nr.269)
    </td>
  </tr>
  <tr>
    <td>2009</td>
    <td>
      Opleiding Gerard`s SPA exclusieve massagetechnieken, Kiev, Oekraïne, door trainer Barbara
      Bianchi van Gerard`s Academy, Terme di Boaria, Italië (certificaat) Gerard`s is een
      gerenommeerde Italiaanse cosmetische verzorgingsproductenlijn)
    </td>
  </tr>
  <tr>
    <td>2005</td>
    <td>
      Opleiding Gerard`s SPA exclusieve massagetechnieken, Kiev, Oekraïne, door trainer Debora
      Bracci van Gerard`s Academy (certificaat)
    </td>
  </tr>
  <tr>
    <td>1992</td>
    <td>
      Opleiding (Medische) Massagetherapie en Cosmetiek, Tsjerkasy Public Science Centrum,
      Tsjerkasy, Oekraïne (diploma)
    </td>
  </tr>
  <tr>
    <td>1982</td>
    <td>MBO-diploma Tsjerkasy Middelbare School nr.14 (sanatorium/internaat)</td>
  </tr>
</table>
<h3>Aanvullend:</h3>
<ul class="sub-list">
  <li>
    gespecialiseerd in curatieve en preventieve massagetechnieken, wellness en verzorgende cosmetiek
  </li>
  <li>
    massage is nooit vervanging voor een bezoek aan je arts, maar kan een heel goede aanvulling op
    je behandeling zijn ná een artsenbezoek!
  </li>
  <li>
    ik maak gebruik van producten van het exclusieve Italiaanse merk Gerard`s voor huidverzorging en
    verbetering. Elke behandeling wordt uitgevoerd vanuit een holistische en een persoonlijke
    toepassing. Hierdoor is elke Gerard`s behandeling uniek en bijzonder en zorgt voor ontspanning &
    rust.
  </li>
  <li>
    preventieve Evminov's methode ter verbetering en verzorging van de ruggengraat, rugspieren en de
    algemene goede houding.
  </li>
  <li>hygiënisch werken staat bij mij hoog in het vaandel</li>
  <li>
    nieuwe ontwikkelingen en technieken op gebied van mode, beauty en wellness volg ik op de voet en
    pas ik toe.
  </li>
</ul>
<h3>Ik wens je alle goeds toe voor je gezondheid, je geluk en je voorspoed!</h3>
<!-- <p>Alisa Marchenko</p> -->
<img class="about-me-logo" src="../images/logoalisa.jpg" alt="alisa logo" />
