<div class="appointment__backdrop is-hidden">
  <div class="appointment__modal">
    <button class="appointment__modal--btn-close">
      <svg class="appointment__modal--close-svg" width="30" height="30">
        <use href="./images/svg/icons.svg#icon-close"></use>
      </svg>
    </button>

    <form class="appointment" action="https://formspree.io/f/xyylqjvj" method="POST" id="my-form">
      <h2 class="appointment__title">Afspraak maken</h2>
      <ul class="sub-list js-modal-list">
        <li class="js-first-item"></li>
        <li class="js-second-item"></li>
        <li class="js-third-item"></li>
        <li class="js-fourth-item"></li>
        <li class="js-fifth-item"></li>
        <li class="js-sixth-item"></li>
      </ul>

      <p class="appointment__page"></p>
      <div class="input__box">
        <h3 class="input__name">Naam:</h3>
        <input class="input__field name" name="namefield" type="text" placeholder="Naam:" />
        <h3 class="input__name">Mobiel nummer:</h3>
        <input
          class="input__field number"
          name="mobilefield"
          type="text"
          placeholder="Mobiel nummer:"
        />
        <h3 class="input__name">Please type your email</h3>
        <input
          class="input__field email"
          name="mailfield"
          type="text"
          placeholder="email@email.com"
        />
        <h3 class="input__name">Je vraag:</h3>
        <h3 class="input__name js-gift-description"></h3>
        <textarea class="input__field message" name="messagefield" type="text" placeholder="">
        </textarea>
      </div>
      <p class="success-status-on-form" id="my-form-status"></p>
      <div class="button__field">
        <button
          type="submit"
          class="appointment_modal--btn-appointment"
          data-action=""
          id="my-form-button"
        >
          VERSTUUR
        </button>
      </div>
    </form>
  </div>
</div>
