<h2>Body Detox Voetenbad</h2>
<p>
  Het Body Detox Voetenbad is een professionele, veilige en pijnloze methode om je lichaam te helpen
  zich van giftige stoffen te ontdoen. Ons lichaam is in staat zichzelf voortdurend te zuiveren
  zonder dat je daar zelf iets voor hoeft te doen. Afvalstoffen en giftige stoffen worden afgevoerd
  zonder dat je daar iets van merkt. Van nature is ons lichaam dus heel goed in staat zichzelf te
  reinigen en te ontgiften (detoxen). Helaas worden we tegenwoordig dagelijks blootgesteld aan grote
  hoeveelheden schadelijke stoffen in onder andere voeding, cosmetica, water en lucht. De kans
  bestaat dan dat ons lichaam de hoeveelheid giftige stoffen niet meer aan kan. Deze stoffen blijven
  vervolgens achter in het lichaam en kunnen disbalans en schade veroorzaken. Chronische
  vermoeidheid, hoofdpijnklachten en huidaandoeningen kunnen een signaal zijn dat het lichaam de
  hoeveelheid giftige stoffen niet voldoende meer kan afvoeren. Het Body Detox Voetenbad kan helpen
  om deze klachten op een veilige en natuurlijke manier te reduceren en zorgt ervoor dat het lichaam
  zijn zelfreinigend vermogen weer terugkrijgt. <br />
  Body Detox wordt niet aangeraden <br />
  voor mensen met:
</p>

<ul class="sub-list">
  <li>een pacemaker</li>
  <li>epilepsie</li>
  <li>zwangerschap</li>
  <li>patiënten die een orgaantransplantatie hebben ondergaan.</li>
</ul>
Wat zijn de te verwachte resultaten van Body Detox? Een intensieve reiniging met Body Detox geeft u
de mogelijkheid het evenwicht in uw leven terug te brengen en vitaal te blijven. De organen
functioneren beter en het lichaam kan zichzelf beter en meer ontgiften (auto-detoxificatie), wat ook
een afslankproces sterk kan bevorderen. De behandeling is bovendien snel, doeltreffend en eenvoudig.
Het bio-energetische veld van het lichaam wordt weer in evenwicht gebracht en het zelfregulerend
vermogen wordt gestimuleerd. Vrije radicalen, die gezond weefsel aantasten en ziekten veroorzaken,
worden afgevoerd. <br />
Begeleidende adviezen tijdens een Body Detox:
<ul class="sub-list">
  <li>Voldoende water drinken (2 liter)</li>
  <li>Gezonde voeding</li>
  <li>Dagelijkse beweging en frisse lucht</li>
  <li>Vermindering van tabak, alcohol en suikerconsumptie</li>
  <li>Geestelijke maar ook lichamelijke ontspanningsoefeningen</li>
</ul>

Bechandeling <span class="bold-text">duurt </span> 35 minuten
<span class="bold-text">Prijs</span> 22 euro
<br />
<br />
<br />
<!-- Combinatie met korte voetverzorging:
<ul class="sub-list">
    <li>eelt verwijdering met puimsteen</li>
    <li>nagels knippen</li>
    <li>korte voetmassage met kokosolie of voetcrème</li></ul>
Bechandeling <span
class="bold-text"
>duurt </span
> 1 uur 
<span
class="bold-text"
>Prijs</span
> 35 euro</p> -->
<img class="detox-main-picture" src="../images/detox-three.jpg" alt="detox picture" />
<!-- <div class="detox-picture-container">
  <img class="detox-picture" src="../images/detox-one.jpg" alt="detox picture" />
  <img class="detox-picture" src="../images/detox-two.jpg" alt="detox picture" />
</div> -->
