<h2>FIGUUR-CORRIGERENDE MASSAGES</h2>
<p>
  Deze behandelingen is een 100% natuurlijke body shaping behandelingen. Verstevig uw figuur zonder
  ingrijpende chirurgie. De behandelingen is een mix van massagetechnieken die afgeleid zijn van
  lichaamstherapie, inclusief lymfedrainage en bindweefselmassage. Gezonde voeding en regelmatig
  bewegen zal zeker bijdragen aan een beter resultaat. Het vermijden van voedsel dat suiker,
  conserverings middelen, hormonen, cafeine en zout bevat houdt uw lichaam in de beste vorm.
</p>
<div class="picture-container">
  <img
    class="wellness-decoration-picture"
    src="../images/figure-correction-massage-a.jpg"
    alt="figure-correction-massage picture"
  />
  <img
    class="wellness-decoration-picture"
    src="../images/figure-correction-massage-b.jpg"
    alt="figure-correction-massagepicture"
  />
  <img
    class="wellness-decoration-picture"
    src="../images/figure-correction-massage-c.jpg"
    alt="figure-correction-massage picture"
  />
</div> <br>
<h2>Zeewier Bodypakking Massage - exclusieve massage van "Gerard's"    <img class="gerards-logo" src="../images/gerards-logo.png" alt="gerards company logo" />
</h2>
<p class="massagese-page" id="Zeewier">
  Het gebruik van zeewier voor het lichaam dateert al van plm. 3000 v Christus. Zeewier is een rijke
  bron van natuurlijke vitaminen, mineralen en oligo-elementen en bevat ook grote hoeveelheden
  jodium; actieve bestanddelen die gemakkelijk door het lichaam opgenomen worden. De algen en
  mineralen hebben een rustgevende, stress-reducerende en revitaliserende werking. Deze behandeling
  is zeer effectief bij het bestrijden van cellulitis, pakt overgewicht aan en werkt ontgiftend. Het
  stimuleert de doorbloeding, bevordert de celstofwisseling van de huid en voert afvalstoffen en
  overtollig vocht af. Uitstekend als je vermoeid bent, last hebt van stress of spier-en
  gewrichtsklachten. Een zeewier bodypakking massage is een zaligheid voor het lichaam!
  <h2>Het resultaat na behandeling*:</h2>
  <ul class="sub-list"><li>sterke vermindering van cellulitis</li>
  <li>actieve bijdrage aan gewichtsreductie</li>
  <li>draagt bij aan ontgiften van het lichaam</li>
  <li>reinigt, voedt en verstevigt de huid</li>
  <li>verlicht pijnen en kwalen</li>
  <li>stimuleert de bloedsomloop en stofwisseling</li>
  <li>helpt bloeddruk en cholesterolniveau te verlagen</li>
  <li>normalisering van de hormoonhuishouding.</li></ul>
  *voor een optimaal resultaat wordt een serie van plm. 10 behandelingen aangeraden. <br>
  <br>
  <span class="bold-text">Duur:</span> 90-120 minuten; <br> <span class="bold-text">Prijs:</span> 55 euro.

</p>
<h2>Anti-Cellulitis Massage</h2>
<p class="massagese-page" id="Anti-Cellulitis">
  Bij de bestrijding van cellulitis (ook wel sinaasappelhuid of panniculose genoemd) is de massage
  vooral gericht op het verbeteren van de doorbloeding en de afvoer van afvalstoffen via het
  lymfesysteem. Cellulitis komt voornamelijk voor bij vrouwen. De structuur van het onderhuids
  bindweefstel wordt beïnvloed door hormonen. Cellulitis is geen probleem dat door overgewicht
  ontstaat, het komt ook voor bij slanke vrouwen. De gevolgen van cellulitis worden zichtbaar door
  de bobbelige structuur in het bindweefsel. De vetcellen worden opgeblazen door een slechte
  stofwisseling en op deze manier wordt de circulatie van bloed en lymfe gehinderd. De afvalstoffen
  kunnen niet worden afgevoerd met als gevolg: verslakking van het bindweefsel. Kortom; cellulitis
  ontstaat door een slechte afvoer van afvalstoffen, waardoor vetcellen zich opblazen en door
  hormonale invloeden het bindweefsel vervormen. Deze manuele (handmatige) massage is een pittige,
  intensieve en actieve massage van het verstoorde weefsel, dat verstopt zit en verhard is. De
  hoeveelheid cellulitis en de diepte/duur van de massage zijn bepalend voor het resultaat. Na 1
  keer is er zeer beperkt resultaat, daarom zal een startkuur van minimaal 10 behandelingen, pas een
  zichtbaar en voelbaar resultaat geven. Een goede anti-cellulitismassage zal geen blauwe plekken of
  andere schade aan de huid opleveren. Het resultaat na behandeling*: -vermindert de
  cellulitis-structuur en verbetert de teint van de huid -de lichaamscontouren worden subtieler
  (versteviging bindweefsel) -stemming- en gezondheidbevorderend -verhoogt eigenwaarde en vermindert
  stress, *voor een optimaal resultaat wordt een serie van min. 10 behandelingen aangeraden.
  <br>
  <span class="bold-text">Duur:</span> 60 minuten; <br> <span class="bold-text">Prijs:</span> 35 euro.
  
</p>
<h2>Thermale Scrub (acupressuur) Massage - exclusieve massage van "Gerard's"<img class="gerards-logo" src="../images/gerards-logo.png" alt="gerards company logo" /></h2>
<p class="massagese-page" id="Thermale Scrub">Veel meer dan een simple scrub! De massage met "Termal gommage" van Gerard`s is een echte stimulerende en elasticiteit herstellende verzorging voor de huid van het gezicht en lichaam. "Thermal Gommage" combineert de voor het lichaam benodigde Oligo-elementen met Aosaine, een extract van zeewier. Dit product helpt om de huid te verzachten, de elasticiteit te herstellen en stimuleert de aanmaak van collageen. Het geeft door de aanwezigheid van NFM (Natural Moisturizing Factor) tevens een super hydraterende werking.

    Na de behandeling ziet de huid er schoner, gladder en stralender uit; onzuiverheden en dode huidcellen zijn verwijderd. Het lichaam wordt gunstiger voor de volgende fase van de zorg of behandeling. "Termal gommage", ook perfect te bruinen. Bovendien: als u na deze behandeling gaat zonnebaden, dan zal uw huid sneller, mooier en egaler bruinen.
    
    <br>
    <span class="bold-text">Duur:</span> 90 minuten; <br> <span class="bold-text">Prijs:</span> 50 euro.</p>
<h2>Bamboe Massage - exclusieve massage van "Gerard's"<img class="gerards-logo" src="../images/gerards-logo.png" alt="gerards company logo" /></h2></h2>
  <p class="massagese-page" id="Bamboo Massage">
      Een nieuwe intensieve lichaamsmassage met oeroude Chinese uitgangspunten. Stimuleert de
      bloedsomloop, vermindert cellulitis, lymfedrainage, helpt om toxines (giftige stoffen) af te
      voeren, maar ook om krampen en triggerpoints (spierknopen) te verlichten. De massage werkt helend
      tegen vermoeidheid en stress. Het lichaam is na de massage in een betere conditie. <br> <span class="bold-text">Het resultaat:</span>
      een energieker, soepeler en krachtiger lichaam, waar de energie harmonieus door de energiebanen
      stroomt. <ul class="sub-list"><li>Massage met bamboestaven, voor diepere werking en optimal effect</li>
      <li>Met een scrub en
        Gerard`s Bamboo olie</li></ul> 
        <span class="bold-text">Duur:</span> 90 minuten; <br> <span class="bold-text">Prijs:</span> 50 euro.
    </p>    