<ul class="contact-info">
  <li class="contact-item">
    <img src="../images/mail.jpg" alt="mail" />
    <a class="contact-link" href="mailto:alisa123451@gmail.com">Email:alisa123451@gmail.com</a>
  </li>
  <li class="contact-item">
    <img src="../images/mobile.jpg" alt="mobile" />
    <a class="contact-link" href="tel:06-17170521">Mobiel: 06-17170521</a>
  </li>
  <li class="contact-item">
    <img src="../images/home.jpg" alt="home" />
    <p class="contact-link">Praktijkadres: Lageweg 19, 8085 AX Doornspijk, Nederland</p>
  </li>
</ul>
<p>Gratis parkeren voor de deur.</p>
<iframe
  class="map-frame"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2433.3978723472133!2d5.813239762320534!3d52.41758818772122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c7d24713b803c3%3A0x879baf48be3d0006!2zTGFnZXdlZyAxOSwgODA4NSBBWCBEb29ybnNwaWprLCDQndGW0LTQtdGA0LvQsNC90LTQuA!5e0!3m2!1suk!2sua!4v1470847950456"
  width="250"
  height="250"
  frameborder="0"
  style="border: 0"
  allowfullscreen=""
></iframe>
<img class="contact-image" src="../images/me-near-door.jpeg" alt="" />
<!-- <img class="contact-image" src="../images/salon.jpeg" alt="" /> -->
