<p>
  Bij de"Alisa massagepraktijk" maak ik gebruik van de producten van de merken "Gerard's" en "Pino".
  Deze producten voldoen aan de hoogste kwaliteitsnormen en zijn dermatologisch getest. De selectie
  bestaat uit natuurlijke en/of biologische, ingrediënten en wordt als zeer aangenaam ervaren.
</p>
<br />
<ul>
  <li>
    Meer lezen
    <a href="http://www.gerards.it" rel="noopener noreferrer" target="_blank">
      <img class="cosmetics-pictures" src="../images/gerards-logo.png" alt="gerards company logo"
    /></a>
  </li>
  <li>
    Meer lezen
    <a
      class="cosmetics-pictures"
      href="https://www.pinoshop.nl/massage/massagelotion.html"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img class="cosmetics-pictures" src="../images/pino-company-logo.png" alt="pino company logo"
    /></a>
  </li>
  <li>
    Meer lezen
    <a
      class="cosmetics-pictures"
      href="https://brunovassari.com/en/"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img
        class="cosmetics-pictures"
        src="../images/bruno-vassari-logo.jpeg"
        alt="pino company logo"
    /></a>
  </li>
</ul>
