<h2 class="gift-title">Cadeaubon</h2>
<div class="gift-container">
  <img class="gift-image" src="../images/gift-sertificate.jpeg" alt="gift-sertificate" />
  <button class="buy-now-button js-buy-now-btn">Klik hier om te kopen.</button>
</div>

<h3>Wanneer je een cadeaubon te kopen, houd er rekening mee dat ik alleen met vrouwen werken!!</h3>
<ul class="contact-info">
  <li class="contact-item">
    <img src="../images/mail.jpg" alt="mail" />
    <a class="contact-link" href="mailto:alisa123451@gmail.com">Email:alisa123451@gmail.com</a>
  </li>
  <li class="contact-item">
    <img src="../images/mobile.jpg" alt="mobile" />
    <a class="contact-link" href="tel:06-17170521">Mobiel: 06-17170521</a>
  </li>
  <li class="contact-item">
    <img src="../images/home.jpg" alt="home" />
    <p class="contact-link">Praktijkadres: Lageweg 19, 8085 AX Doornspijk, Nederland</p>
  </li>
</ul>
<p class="gift-page">
  Vanaf 2020 heeft u de mogelijkheid om een cadeaubon in de normale vorm te kopen (dit is een
  plastic kaart met een cadeaubon, wat altijd is geweest), en een nieuwe elektronische versie die ik
  u per e-mail kan sturen konden het thuis op een printer afdrukken (het voordeel hiervan is dat het
  u tijd bespaart!).
</p>
<p>
  Het is erg handig en geeft u de optie om de gewenste optie te kiezen. Vul hier de gegevens van de
  ontvanger in: <button class="js-buy-now-btn">Klik hier om te kopen.</button> Let op: Wilt u de
  cadeaubon zelf overhandingen vul dan uw eigen emailadres in.
</p>
