<header class="header">
  <nav class="main-nav">
    <ul class="nav-list">
      <li>
        <svg class="burger-menu">
          <use href="./images/svg/sprite.svg#icon-open"></use>
        </svg>
      </li>
      <li><a class="nav-link current js-home" href="#">Home</a></li>
      <li><a class="nav-link js-about-me" href="#">Over mij</a></li>
      <li><a class="nav-link js-price-list" href="#">Prijslijst</a></li>
      <li><a class="nav-link js-gift-sertificate" href="#">Cadeaubon</a></li>
      <li><a class="nav-link js-wat-klanten-zeggen" href="#">Wat klanten zeggen</a></li>
      <li><a class="nav-link js-contacts" href="#">Praktijkadres/Contact</a></li>
      <li><a class="nav-link js-news" href="#">Nieuws!</a></li>

      <!-- <li><a class="nav-link js-video" href="#">Video</a></li> -->

      <!-- <li><a class="nav-link js-feedback" href="#">Feedback</a></li> -->
      <li>
        <a
          class="nav-link js-facebook-link"
          href="https://www.facebook.com/wellnessAlisa/"
          rel="noopener noreferrer"
          target="_blank"
        >
          <!-- Naar Facebook -->
          <svg class="facebook-link">
            <use href="./images/svg/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>

      <li><button class="header-button js-header-button">Afspraak</button></li>
    </ul>
  </nav>
  <div class="logo-container">
    <h1 class="logo js-logo">Massage & Wellness Voor Vrouwen <br />"Alisa"</h1>
  </div>
</header>
