<header class="header">
  <nav class="main-nav">
    <ul class="nav-list">
      <li class="nav-link current">Home</li>
      <li class="nav-link">Prijslijst</li>
      <li class="nav-link">Nieuws!</li>
      <li class="nav-link">Over mij</li>
      <li class="nav-link">Video</li>
      <li class="nav-link">Cadeaubon</li>
      <li class="nav-link">Praktijkadres /Contact</li>
      <li class="nav-link">Naar Facebook</li>
    </ul>
  </nav>
  <div class="logo-container">
    <h1 class="logo">Massage & Wellness <span class="alisa">"Alisa"</span></h1>
    <button class="header-button">Afspraak</button>
  </div>
</header>
