<h2>Praktijk voor huidverzorging en (full) body massages voor vrouwen "Alisa"</h2>
<h3>Welkom op mijn site!</h3>

<p>
  Deze website is speciaal voor jou gemaakt. Zo kun je gemakkelijk kennis maken met de behandelingen
  en massagetechnieken die ik je kan bieden en geeft het je inzicht in welke behandelingen het best
  bij je klachten en wensen zullen passen. Ook vind je praktische informatie hoe je gemakkelijk een
  afspraak met mij kunt maken en hoe je je kunt voorbereiden op je (eerste) afspraak in mijn
  praktijk
</p>
<h3>In mijn praktijk - speciaal voor vrouwen - bied ik je:</h3>
<ul class="massages-list">
  <li>(Full) body massages (o.a bij rug-, schouder- en spanningsklachten)</li>

  <li>Exclusieve gezicht- en SPA massages (ontspanning & wellness)</li>

  <li>Behandeling van cellulitis, overgewicht, oedeem Voetreflexmassage</li>

  <li>Huidverzorging (ook bij huidproblemen, bijv. droge of verouderende huid)</li>
  <li>SPA Pedicure</li>
  <li>Oorkaarsen</li>
  <!-- <li>Evminov's methode</li> -->
</ul>
<p class="home-final-page">
  Het is voor mij een uitdaging om je met mijn zorgzame handen hierbij te helpen en te ondersteunen!
  <br />
  Trakteer je zelf op een van mijn heerlijke, luxe en exclusieve behandelingen! <br />
  Gun het jezelf! Je bent het waard!
</p>
