<div class="mobile__backdrop is-hidden js-mob-menu">
  <div class="mobile__modal">
    <button class="mobile__modal--btn-close">
      <svg class="mobile__modal--close-svg" width="30" height="30">
        <use href="./images/svg/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="mob-menu-container">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-link js-home-mobile"><a href="#">Home</a></li>
        <li class="mobile-menu-link js-about-me-mobile"><a href="#">Over mij</a></li>
        <li class="mobile-menu-link js-price-list-mobile"><a href="#">Prijslijst</a></li>
        <li class="mobile-menu-link js-gift-sertificate-mobile"><a href="#">Cadeaubon</a></li>
        <!-- <li>< class = "nav-link js-wat-klanten-zeggen" href="#">Wat klanten zeggen</a></li> -->
        <li class="mobile-menu-link js-contacts-mobile"><a href="#">Praktijkadres/Contact</a></li>
        <li class="mobile-menu-link js-news-mobile"><a href="#">Nieuws!</a></li>
        <li class="mobile-menu-link js-massages-mobile">
          (Full) body massages (o.a bij rug-, schouder- en spanningsklachten)
        </li>
        <li class="mobile-menu-link js-wellness-mobile">Wellness & Ontspanning massage</li>
        <!-- <li class = "side-menu-link">Therapeutisch massage</li> -->
        <li class="mobile-menu-link js-body-estetic-mobile">Bodyeshtetiek massage</li>
        <li class="mobile-menu-link js-gezichtsmassage-mobile">Gezichtsmassage</li>
        <li class="mobile-menu-link js-spa-pedicure-mobile">SPA Pedicure</li>
        <li class="mobile-menu-link js-body-detox-mobile">Body Detox Voetenbad</li>
        <li class="mobile-menu-link js-oorkaarsen-mobile">Oorkaarsen</li>
        <li class="mobile-menu-link js-apparat-massage-mobile">Oog Apparaat Massage</li>
        <!-- <li class = "side-menu-link">Evminov's methode</li> -->
        <li class="mobile-menu-link js-cosmetica-mobile">Cosmetica</li>
        <li class="mobile-menu-link js-restrictions-mobile">Contra-indicaties voor massage</li>
      </ul>
    </div>
  </div>
</div>
