<div class="mobile__backdrop is-hidden js-mob-menu">
  <div class="mobile__modal">
    <button class="mobile__modal--btn-close">
      <svg class="mobile__modal--close-svg" width="30" height="30">
        <use href="./images/svg/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="mob-menu-container">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-link js-home"><a href="#">Home</a></li>
        <li class="mobile-menu-link js-about-me"><a href="#">Over mij</a></li>
        <li class="mobile-menu-link js-price-list"><a href="#">Prijslijst</a></li>
        <li class="mobile-menu-link js-gift-sertificate"><a href="#">Cadeaubon</a></li>
        <!-- <li>< class = "nav-link js-wat-klanten-zeggen" href="#">Wat klanten zeggen</a></li> -->
        <li class="mobile-menu-link js-contacts"><a href="#">Praktijkadres/Contact</a></li>
        <li class="mobile-menu-link js-news"><a href="#">Nieuws!</a></li>
        <li class="mobile-menu-link js-massages">Massages</li>
        <li class="mobile-menu-link js-wellness">Wellness & Ontspanning massage</li>
        <!-- <li class = "side-menu-link">Therapeutisch massage</li> -->
        <li class="mobile-menu-link js-body-estetic">Bodyeshtetiek massage</li>
        <li class="mobile-menu-link js-gezichtsmassage">Gezichtsmassage</li>
        <li class="mobile-menu-link js-spa-pedicure">SPA Pedicure</li>
        <li class="mobile-menu-link js-body-detox">Body Detox Voetenbad</li>
        <li class="mobile-menu-link js-oorkaarsen">Oorkaarsen</li>
        <li class="mobile-menu-link js-apparat-massage">Oog Apparaat Massage</li>
        <!-- <li class = "side-menu-link">Evminov's methode</li> -->
        <li class="mobile-menu-link js-cosmetica">Cosmetica</li>
        <li class="mobile-menu-link js-restrictions">Contra-indicaties voor massage</li>
      </ul>
    </div>
  </div>
</div>
