<!-- <div class="page-container">
  <div class="side-nav">
    <div class="side-menu">
      <ul>
        <li class="side-menu-link">Massages</li>
        <li class="side-menu-link">Wellness & Ontspanning massage</li>
        <li class="side-menu-link">Therapeutisch massage</li>
        <li class="side-menu-link">Bodyeshtetiek massage</li>
        <li class="side-menu-link">Gezichtsmassage</li>
        <li class="side-menu-link">SPA Pedicure</li>
        <li class="side-menu-link">Body Detox Voetenbad</li>
        <li class="side-menu-link">Oorkaarsen</li>
        <li class="side-menu-link">Oog Apparaat Massage</li>
        <li class="side-menu-link">Evminov's methode</li>
        <li class="side-menu-link">Cosmetica</li>
        <li class="side-menu-link">Contra-indicaties voor massage</li>
      </ul>
    </div>
  </div>
  <div class="content"></div>
</div> -->

<div class="page-container">
  <div class="side-nav">
    <ul class="side-menu">
      <li class="side-menu-link js-massages">Massages</li>
      <li class="side-menu-link">Wellness & Ontspanning massage</li>
      <!-- <li class="side-menu-link">Therapeutisch massage</li> -->
      <li class="side-menu-link">Bodyeshtetiek massage</li>
      <li class="side-menu-link">Gezichtsmassage</li>
      <li class="side-menu-link">SPA Pedicure</li>
      <li class="side-menu-link">Body Detox Voetenbad</li>
      <li class="side-menu-link">Oorkaarsen</li>
      <li class="side-menu-link">Oog Apparaat Massage</li>
      <!-- <li class="side-menu-link">Evminov's methode</li> -->
      <li class="side-menu-link">Cosmetica</li>
      <li class="side-menu-link">Contra-indicaties voor massage</li>
    </ul>
  </div>
  <div class="content"></div>
</div>
