<h2>Massage Contra Indicaties</h2>
<p>
  Contra indicaties zijn één of meerdere redenen om een behandeling of massage niet uit te voeren.
  De redenen zijn op te splitsen in absolute contra indicaties en relatieve contra indicaties.
</p>
<p>
  Bij absolute contra indicaties mag er absoluut GEEN massage worden gegeven. Bij relatieve contra
  indicaties kunnen delen van het lichaam wel worden gemasseerd en andere delen niet, of de massage
  wordt aangepast qua druk en intentie.
</p>
<h3>Hieronder een lijstje van de verschillende soorten contra indicaties:</h3>
<span class="bold-text">Absolute contra indicatie:</span>

<ul class="sub-list">
  <li>Koorts</li>
  <li>Teveel pijn</li>
  <li>Extreme vermoeidheid</li>
  <li>Besmettelijke huidaandoeningen over het gehele lichaam (herpes, gordelroos)</li>
  <li>Bij (overmatig) gebruik van drugs, alcohol, antibiotica, bloedverdunners</li>
  <li>Zeer slechte algemene gezondheid</li>
  <li>Kanker/Tumoren</li>
  <li>Algemene infectieziekten</li>
  <li>Ernstige cardiovasculaire aandoeningen (trombose, aderontsteking)</li>
</ul>
<span class="bold-text">Relatieve contra indicaties:</span>

<ul class="sub-list">
  <li>Plaatselijke infecties</li>
  <li>Plaatselijke besmettelijke huidaandoeningen (herpes, gordelroos, zwemmerseczeem)</li>
  <li>Vormen van huiduitslag (acne, eczeem, warmte uitslag, steenpuisten)</li>
  <li>Zwellingen</li>
  <li>Bloeduitstortingen (blauwe plekken)</li>
  <li>Lichte cardiovasculaire aandoeningen (spataderen)</li>
  <li>Botbreuken</li>
  <li>Wonden en recente littekens</li>
  <li>Zwangerschap</li>
</ul>
<p>Bij twijfel eerst contact opnemen met je huisarts of de behandelend arts.</p>
<br />
<p>Ik ben niet verantwoordelijk voor verborgen klachten!</p>
<br />
<p>
  TIP! Geef bij het maken van je afspraak al aan of er dingen zijn waar ik rekening mee moet houden,
  dan kunnen we dit vooraf samen bespreken, zodat er eventueel gelegenheid is voor overleg met een
  arts en voorkom je in de meeste gevallen een teleurstelling als je al bij mij aanwezig bent of al
  op de massagetafel ligt.
</p>
