<h2>SPA pedicure (voetpeeling+voetmassage)</h2>
<br />
<p>
  Een heerlijke SPA Wellness voor de voeten bij mij praktijk " Wellness&Beauty Alisa"! <br />
  Nieuw product uit Thailand. Voor het verwijderen van eelt van jou voeten. <br />
  Aansluitend: <br />
  Een Thaise voetmassage die ontspant en geeft een aangenaam gevoel van lichtheid in jou voeten en
  hele lichaam. <br />
  De SPA Wellness behandeling voor de voeten<span class="bold-text">duurt </span> 90 minuten en<span
    class="bold-text"
    >kost</span
  >
  50 euro. Lekker kopje thee en ontspannende muziek zal jou plezier en tevredenheid geven.
</p>
<img class="pedicure-picture" src="../images/spa-pedicure-one.jpg" alt="spa pedicure" />
<img class="pedicure-picture" src="../images/spa-pedicure-two.jpg" alt="spa pedicure" />
