<ul class="video-list">
  <li class="video">
    <iframe
      width="480"
      height="270"
      src="https://www.youtube.com/embed/4LnWdiBYT_Y"
      frameborder="0"
      allowfullscreen=""
    ></iframe>
    <p class="video-title">Cupping Therapie (massage)</p>
  </li>
  <li class="video">
    <iframe
      width="480"
      height="270"
      src="https://www.youtube.com/embed/RvyV24gbpn0"
      frameborder="0"
      allowfullscreen=""
    ></iframe>
    <p class="video-title">Nek-en Schouder Massage</p>
  </li>
  <li class="video">
    <iframe
      width="480"
      height="270"
      src="https://www.youtube.com/embed/y-9VOeAUnx4"
      frameborder="0"
      allowfullscreen=""
    ></iframe>
    <p class="video-title">Full body (klassieke) Massage</p>
  </li>
  <li class="video">
    <iframe
      width="480"
      height="270"
      src="https://www.youtube.com/embed/F4png_GuF3E"
      frameborder="0"
      allowfullscreen=""
    ></iframe>
    <p class="video-title">Chinese Massage "Gua Sha"</p>
  </li>
  <li class="video">
    <iframe
      width="480"
      height="270"
      src="https://www.youtube.com/embed/-EV0TnB6s2Q"
      frameborder="0"
      allowfullscreen=""
    ></iframe>
    <p class="video-title">
      Thermale Scrub (acupressuur) Massage - exclusieve massage van "Gerard's"
    </p>
  </li>
  <li class="video">
    <iframe
      width="480"
      height="270"
      src="https://www.youtube.com/embed/Ye6TFxNX_Rc"
      frameborder="0"
      allowfullscreen=""
    ></iframe>
    <p class="video-title">Anti-Cellulitis Massage</p>
  </li>
  <li class="video">
    <iframe
      width="480"
      height="270"
      src="https://www.youtube.com/embed/DoyjWU8e-Ps"
      frameborder="0"
      allowfullscreen=""
    ></iframe>
    <p class="video-title">Zeewier Bodypakking Massage - exclusieve massage van "Gerard's"</p>
  </li>
  <li class="video">
    <iframe
      width="480"
      height="270"
      src="https://www.youtube.com/embed/j17JF0-8FNE"
      frameborder="0"
      allowfullscreen=""
    ></iframe>
    <p class="video-title">Pinda Sweda (kruiden) Massage - exclusieve massage van "Gerard's"</p>
  </li>
  <li class="video">
    <iframe
      width="480"
      height="270"
      src="https://www.youtube.com/embed/tYjLoH1NiZo"
      frameborder="0"
      allowfullscreen=""
    ></iframe>
    <p class="video-title">Oloil (olijfolie) Massage - exclusieve massage van "Gerard's"</p>
  </li>
  <li class="video">
    <iframe
      width="480"
      height="270"
      src="https://www.youtube.com/embed/957DummUucg"
      frameborder="0"
      allowfullscreen=""
    ></iframe>
    <p class="video-title">Soy Soy (soja) Massage-exclusieve massage van "Gerard's"</p>
  </li>
  <li class="video">
    <iframe
      width="480"
      height="270"
      src="https://www.youtube.com/embed/gIh8uVfBFAY"
      frameborder="0"
      allowfullscreen=""
    ></iframe>
    <p class="video-title">Chocolade Massage - exclusieve massage van "Gerard's"</p>
  </li>
  <li class="video">
    <iframe
      width="480"
      height="270"
      src="https://www.youtube.com/embed/SWxInPkhg5I"
      frameborder="0"
      allowfullscreen=""
    ></iframe>
    <p class="video-title">Thaise Massage</p>
  </li>
  <!-- <li class="video">
    <iframe
      width="480"
      height="270"
      src="https://www.youtube.com/embed/R96_k5DPuF8"
      frameborder="0"
      allowfullscreen=""
    ></iframe>
    <p class="video-title">Evminov's plank , montage</p>
  </li> -->
</ul>
